<div class="article-content">
  <h1><%= @article.title%></h1>
  <p class="attachment">
    <%if @article.image.exists? %>
      <%= image_tag @article.image.url(:medium) %>
    <% else %>
    <% end %>
  </p>
  <p class="article-body"><%= @article.body%></p>
  <hr />
  <p class="tags-box">
    <% if @article.tags.size == 0%>
      No Tags For This Article.
    <%else%>
      <p class= "tags-str">Tags:</p>
      <div class="tags">
        <% @article.tags.each do |tag| %>
          <p class="tag">
            <%= link_to tag.name, tag_path(tag),class: "login_button" %> | 
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="action">
      <% if logged_in? %>
        <%= link_to 'Edit', edit_article_path(@article),class: 'login_button'%>
        <%= link_to 'Delete', article_path(@article), method: :delete , class: 'login_button', data: {confirm: "Are you sure you want to delete that article ?"}%>
      <% end %>
      <%= link_to "Back to Articles List", articles_path, class: 'login_button'%>
    </div>
    <div class="add-comment-box">
      <%= render partial: 'comments/form'%>
    </div>
    <div class="comments-section">
      <h3>
        <%if @article.comments.size == 0%>
          No comments for now ...
        <% elsif @article.comments.size == 1%>
          <%= "#{@article.comments.size} Comment" %>
        <% else %>
          <%="#{@article.comments.size} Comments"%>
        <% end %>
      </h3>
      <hr />
      <%= render partial: 'articles/comment', collection: @article.comments %>
    </div>
